@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@layer components {
	.nav-middle {
		@apply block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0;
	}
	.nav-middle-ul {
		@apply flex flex-col p-4 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0;
	}
	.sidebar-social-icon {
		@apply font-normal text-3xl;
	}
	.sidebar-hashtags {
		@apply px-3 mr-3.5 my-[0.4rem] shadow-md hover:shadow-lg border transform transition duration-300 hover:scale-105 cursor-pointer;
	}
	/* login - register - forgotpassword pages*/
	.tagline-login-register {
		@apply inline-flex items-center text-xs font-normal text-center text-gray-500 hover:text-gray-700;
	}
	.login-submit-btn {
		@apply py-2 px-4  bg-purple-600 hover:bg-purple-700 focus:ring-purple-500 focus:ring-offset-purple-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg;
	}
	.inputField-login-register {
		@apply rounded-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent;
	}
	.login-register-heading {
		@apply self-center mb-6 text-xl font-light text-gray-600 sm:text-2xl;
	}
	.login-register-wrapper {
		@apply flex flex-col w-full max-w-md px-4 py-8 bg-gray-50 border rounded-lg shadow sm:px-6 md:px-8 lg:px-10;
	}
	#dark {
        background-color: #07062b;
    }
    #dark .TopBar{
        background-color: #25025a;
    }
    #dark .TopBarItemText{
        color: white;
    }
    #dark .TopBarItemText:hover{
        color: rgb(194, 151, 222);
    }
	#dark .SideBar{
        background-color: #25025a;
		color: white;
    }
	#dark .SideBarItemText{
        color: antiquewhite;
    }
	#dark .cards{
		background-color: #330352;
		color: white;
	}
	#dark .cardsText{
		color: antiquewhite;
	}
	#dark .home{
		width:max-content;
        background-color: #07062b;
	}
	.writeImage{
		border-radius: 7px;
	}
	.writeSubmit{
		border-radius: 10px;
	}
	.writeIcon{
		border: 2px solid gray;
    	border-radius: 50%;
		color: gray;
		padding: 2px;
		font-size: 1rem;
	}
	.writeIcon2{
		border: 3px solid gray;
    	border-radius: 50%;
		color: gray;
		padding: 4px;
		font-size: 1rem;
	}

	#dark .writeIcon{
		color: white;
		border-color: white;
	}
	#dark .writeIcon{
		color: white;
		border-color: white;
	}
	input{
		/* outline: none; */
	}
	textarea{
		/* outline: none; */
	}
	#dark input{
		background-color: #07062b;
		color: white;
	}
	#dark textarea{
		background-color: #07062b;
		color: white;
	}
}

.author-name {
	font-family: "Josefin Sans", sans-serif;
}
